body {
  background-color: #b81550;
}

.btn-primary,
.btn-primary:hover,
.btn:first-child:active,
.btn-outline-primary:hover {
  background-color: #b81550;
  border-color: #b81550;
}

.btn-outline-primary {
  border-color: #b81550;
  color: #b81550;
}

label {
  color: #b81550;
  font-weight: bold;
}

input,
select {
  border-color: #b81550 !important;
}

.my-ticket-data {
  height: 110px;
}
