body {
  background-color: #b81550;
}

.btn-primary,
.btn-primary:hover,
.btn-outline-primary:hover {
  background-color: #b81550;
  border-color: #b81550;
}

.btn-outline-primary {
  border-color: #b81550;
  color: #b81550;
}
